{% extends "orders/layout.html" %}

{% block title %}
Login
{% endblock %}

{% block body %}
<h2 class="text-center">Login</h2>
<div class="container text-center">
    <form action="{% url 'login' %}" class="form" method="POST">
        {% csrf_token %}
        <label for="username">Username</label>
        <input name="username" class="form-control" type="text">
        <label for="password">Password</label>
        <input name="password" class="form-control" type="password">
        <br>
        <input type="submit" class="btn btn-outline-success" value="Login">
    </form>
</div>

{% endblock %}
